version: "3.9"

services:
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: ods-frontend
    # фронт собирается в статику и отдаётся своим nginx (внутренний)
    expose:
      - "80"
    networks:
      - app-net

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: ods-backend
    environment:
      PORT: 4000
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders_db
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"
    networks:
      - app-net

  postgres:
    image: postgres:16-alpine
    container_name: ods-postgres
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./db:/docker-entrypoint-initdb.d:ro
      - pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-net

  redis:
    image: redis:7-alpine
    container_name: ods-redis
    ports:
      - "6379:6379"
    networks:
      - app-net

  nginx:
    build:
      context: ../nginx
      dockerfile: Dockerfile
    container_name: ods-nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  pg-data:
