version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: ods-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders_db
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5432:5432"
    networks:
      - app-net

  redis:
    image: redis:7-alpine
    container_name: ods-redis
    ports:
      - "6379:6379"
    networks:
      - app-net

  backend:
    build:
      context: ../backend
    container_name: ods-backend
    env_file:
      - ../backend/.env
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"
    networks:
      - app-net

  frontend:
    build:
      context: ../frontend
    container_name: ods-frontend
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - app-net

networks:
  app-net:

volumes:
  db_data:
