version: "3.9"

services:
  frontend:
    image: deimos6661313/ods-frontend:latest
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    networks:
      - app-net

  backend:
    image: deimos6661313/ods-backend:latest
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders_db
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PORT: 4000
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    networks:
      - app-net

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data
    deploy:
      placement:
        constraints:
          - node.role == manager
    networks:
      - app-net

  redis:
    image: redis:7-alpine
    deploy:
      replicas: 1
    networks:
      - app-net

  nginx:
    image: deimos6661313/ods-nginx:latest
    ports:
      - "80:80"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    networks:
      - app-net

volumes:
  pg-data:

networks:
  app-net:
    driver: overlay
